---
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import "@fontsource/indie-flower";
import { Image } from "astro:assets";
import Divider from "../assets/divider.webp";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Jongjeh">
  <main class="flex flex-col justify-center items-center gap-4 pr-4 pl-4">
    <div class="flex flex-row justify-center items-center pt-4 gap-6">
      <Icon name="avatar" class="w-24 h-24 md:w-32 md:h-32 rounded-full" />
      <h1 class="font-indieFlower text-7xl">Jongjeh</h1>
    </div>

    <div class="w-4/5 md:w-2/3">
      <iframe
        src="https://www.youtube.com/embed/ZL0uGxBpuxw"
        title="One Piece"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="w-full aspect-video pl-2 pr-2"></iframe>
    </div>

    <Image src={Divider} alt="divider" class="h-8" />
    <Gallery />
    <Image src={Divider} alt="divider" class="h-8" />

    <Footer />
  </main>
</Layout>
