---
import Icon from "astro-icon";
---

<div class="h-[100px]">
  <a href="https://www.instagram.com/jongjeh/">
    <Icon
      name="mdi:instagram"
      class="w-8 h-8 rounded-full transition-all hover:translate-y-1"
    />
  </a>
</div>
